* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.display-3 {
  font-size: 3em;
}
/* Primarily attempted to leave all existing CSS properties the same to learn how to call classes for pre-provided desired styles instead of trying to manipulate everything on my own. */
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  width: 1000px;
  display: inline-block;
  padding-left: 10px;
  color:black;
  border: black 1px solid;
}

.row {
  white-space: pre-wrap;
  height: 10vh;
  border-top: 1px solid white;
  justify-content: center;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  padding-top: 10px;
}

.past {
  background-color: #8d8787;
  color: black;
}

.present {
  background-color: #ff6961;
  color: black;
}

.future {
  background-color: #77dd77;
  color: black;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
  font-size: xx-large;
  padding-top: 10px;
}
/* Fixed hover properties for saveBtn so that they are exactly the same as instructor application example given in ReadME. */
.saveBtn:hover {
  font-size: 32px;
  color: #000000;
}

@media only screen and (max-width: 1205px) {
  .time-block {
    width: 60vw;
  }
};